{% extends "base.html" %}
{% block content %}
<h1>API keys for {{ user.username }}</h1>

<div>You have {{ keys|length }}. You can make {{ available_keys }} more.
</div>

{% if keys %}
<form method="POST" action="{% url api_delete_key %}"
{% csrf_token %}
<div>
  {% for key in keys %}
    <div><input type="checkbox" name="key" value="{{key}}" /> {{ key }}
    </div>
  {% endfor %}
 </div>
 <input type="submit" value="Delete selected keys" />
</form>
{% endif %}

<p />
 
{% if can_make_api_key %}
 <form method="POST" action="{% url api_create_key %}">
   {% csrf_token %}
   <input type="submit" value="Generate a new key" />
 </form>
{% endif %}

{% endblock %}
