*.pyc
*.pyo
.svn
*.bak
*.swp
*~
._*
*#
.#*
*.orig
*.rej
.DS_Store
/obdemo/obdemo/real_settings.py
/obdemo/obdemo/settings.py
*pip-log.txt
*.egg-info
*.so
/bin
/lib
/include
/TileCache
/manage.py
src
/man
*scraper_http_cache
distribute-*gz
docs/_build
*cache-forever
.coverage
.noseids
.ropeproject
*,cover
ebpub/ebpub/media_root/*
ebpub/ebpub/static_root/*
cover
build
dist
tiger_data
neighborhood_data
zip_data
*_flymake.*
file:/
TAGS
