*.pyc
*.pyo
.svn
*.bak
*.swp
*~
._*
*#
.#*
.DS_Store
/obdemo/obdemo/real_settings.py
/obdemo/obdemo/settings.py
obdemo/tiger_data
obdemo/neighborhood_data
obdemo/zip_data
*pip-log.txt
*.egg-info
/bin
/lib
/include
/TileCache
/manage.py
/tiger_data
/zip_data
/neighborhood_data
src
ebpub/ebpub/scripts/src
/man
/build
*scraper_http_cache
distribute-*gz
docs/_build
*cache-forever
