{% extends "base.html" %}{% comment %}<!-- -*- mode: django-html; tab-width: 4 -*- -->{% endcomment %}

{% load eb mapping %}

{% comment %}
Base template for all "place" pages -- either block or location.
Implements only the "top" of the page -- the title and "Nearby" list.

Required variables: nearby_locations, place, is_block
{% endcomment %}

{% block breadcrumbs %}
	{{ block.super }}
	{% if is_block %}
		<li><a href="/streets/">Streets</a></li>
		{% if METRO.multiple_cities %}
			<a href="/streets/{{ place.city_object.slug }}/">{{ place.city_object.name }}</a>
		{% endif %}
		<li><a href="{{ place.street_url }}">{{ place.street_pretty_name }}</a></li>
	{% else %}
		<li><a href="{{ place.location_type.url }}">{{ place.location_type.plural_name|capfirst }}</a></li>
	{% endif %}
	<li><a href="{{ place.url }}">{{ place.pretty_name }}</a></li>
{% endblock breadcrumbs %}

{% block content %}
<div id="nav-location">
	<!-- begin block map -->
	{% block map %}
	<div id="mapwrapper">
		<script type="text/javascript">
		  var place_type = '{{ place.location_type.slug }}';
		  var place_slug = '{{ place.slug }}';
		  var map_bounds = new OpenLayers.Bounds{{ bbox }};
		</script>
		{% include "map.html" %}
	</div><!--/ #mapwrapper -->
	{% endblock map %}
	<!-- end block map -->

	<div class="subscribe-links">
		<p>Stay up to date: <a href="{{ place.url }}feeds/">Custom RSS feeds</a> <a href="{{ place.alert_url }}">E-mail alerts</a></p>
	</div>

	{% if nearby_locations %}
	<h2>Nearby locations</h2>
	<ul>
	 {% for location in nearby_locations %}
	  <li><a id="location-{{ location.id }}" href="{{ location.url }}">{{ location.name }}</a></li>
	 {% endfor %}
	</ul>
	{% endif %}

</div><!--/ #nav-location -->
<!-- begin block place_content -->
{% block place_content %}{% endblock %}
<!-- end block place_content -->
{% endblock content %}
