{% extends "base.html" %}{% comment %} -*- mode: django-html; tab-width: 4 -*- {% endcomment %}
{% load eb humanize mapping %}

{% block fulltitle %}OpenBlock{% endblock %}

{% block content %}
		<div id="homepage-search">
		  <h2>Discover News on your Block</h2>
			{% set_search_placeholder "" as placeholder %}
			<form action="/search/" method="get" onsubmit="if ($j('#homepage-searchinput').val() == '{{ placeholder }}') return false; return true;">
				<p class="form"><input id="homepage-searchinput" type="text" name="q" value="{{ placeholder }}" onfocus="if (this.value == '{{ placeholder }}') { this.value = ''; }" onblur="if (this.value == '') { this.value = '{{ placeholder }}'; }" /> <input type="submit" value="Search" /></p>
			</form>
		</div><!--/ #homepage-search -->

		<div id="nav-location">

		<div id="mapwrapper">
		  <script type="text/javascript">
		  {% autoescape off %}
		  
		  function loadMap() {
  		  var config = {{map_configuration}};
        config.center = [{{default_lon}}, {{default_lat}}];
        config.zoom = {{default_zoom}};
        return new OBMap(config);        
  		}
  		
  		{% endautoescape %}
		  </script>
		{% include "richmaps/richmap.html" %}
		</div><!-- end mapwrapper -->

		<div id="intro-explore">
			<h2>Locations</h2>
			<ul class="location-type-list">
				{% for location_type in location_type_list %}
					<li><a href="{{ location_type.url }}"><strong class="number">{{ location_type.count|intcomma }}</strong> {{ location_type.plural_name|capfirst }}</a></li>
				{% endfor %}
				<li><a href="/streets/"><strong class="number">{{ street_count|intcomma }}</strong> Streets</a></li>
			</ul>
		</div><!--/ #intro-explore-->
	</div><!-- end nav-location -->

	<div id="content">
	<div id="frontpage-text">

	<div id="public-records">
		{% if non_empty_date_charts %}
		<h2>What's Happening</h2>
		<p>New in the last {{ num_days }} days</p>
		<ul>
			{% for chart in non_empty_date_charts %}
			<li>
				{% map_icon_img chart.schema %}
				<strong>{{ chart.total_count|intcomma }}</strong> <a href="{{ chart.schema.url }}">{% filter capfirst %}{% schema_plural_name chart.schema chart.total_count %}{% endfilter %}</a>
			</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% if empty_date_charts %}
		<ul>Older: {% for chart in empty_date_charts %}
            <li><a href="{{ chart.schema.url }}">{% map_icon_img chart.schema %}{{ chart.schema.plural_name|capfirst }}</a>
            </li>{% endfor %}
        </ul>
		{% endif %}
	</div><!--/ #public-records -->
	<div id="more">
    {% if more_schemas %}
		<h2>More news</h2>
		<ul>
		{% for schema in more_schemas %}
			<li><a href="{{ schema.url }}">{% map_icon_img schema %}{{ schema.plural_name|capfirst }}</a></li>
		{% endfor %}
		</ul>
    {% endif %}
    </div><!--/ #more -->

    </div><!-- / #frontpage-text -->

</div><!--/ #content -->

<div id="sidebar">
  <!-- begin block extracontent -->
  {% block extracontent %}
  {% endblock %}
  <!-- end block extracontent -->
</div><!--/ #sidebar -->

{% endblock %}
