{% comment %}<!-- -*- mode: django-html; tab-width: 4 -*- -->{% endcomment %}
{% load django_static %}
<!-- map.html  -->
{% if OPENLAYERS_IMG_PATH %}
<script type="text/javascript">
OpenLayers.ImgPath = "{{ OPENLAYERS_IMG_PATH }}";
var map_baselayer_type = "{{ MAP_BASELAYER_TYPE }}";
var wms_url = "{{ WMS_URL }}";
var newsitems_ajax_url = "{% url ajax-newsitems-geojson %}";
</script>
{% endif %}
{% ifequal MAP_BASELAYER_TYPE 'google' %} 
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key={{ GOOGLE_API_KEY }}" type="text/javascript"></script>
{% endifequal %}

{% slimall %}
<script type="text/javascript" src="/scripts/openblockmap.js" charset="utf-8"></script>
{% endslimall %}

<div id="detailmap"></div>
<!-- end map.html -->
