{% extends "base.html" %}{% comment %} -*- mode: django-html; tab-width: 4 -*- {% endcomment %}
{% load eb humanize mapping %}

{% block fulltitle %}OpenBlock demo{% endblock %}

{% block content %}
<div id="content">
  <style type="text/css">
    #frontpage-text { float: left }
    #mapwrapper { float: right; padding-bottom: 10px;}
    #detailmap { width: 500px; height: 300px }
  </style>
  <div id="frontpage-text">
	<div id="intro">

		<div id="intro-search">
			<h2>Search for news</h2>
			{% with "Address, ZIP or neighborhood" as placeholder %}
			<form action="/search/" method="get" onsubmit="if ($j('#homepage-searchinput').val() == '{{ placeholder }}') return false; return true;">
				<p class="form"><input id="homepage-searchinput" type="text" name="q" value="{{ placeholder }}" onfocus="if (this.value == '{{ placeholder }}') { this.value = ''; }" onblur="if (this.value == '') { this.value = '{{ placeholder }}'; }" /> <input type="submit" value="Search" /></p>
			</form>
			{% endwith %}
		</div>

		<div id="intro-explore">
			<h2>Locations</h2>
			<ul>
				{% for location_type in location_type_list %}
					<li><strong class="number">{{ location_type.count|intcomma }}</strong> <a href="{{ location_type.url }}">{{ location_type.plural_name|capfirst }}</a></li>
				{% endfor %}
				<li><strong class="number">{{ street_count|intcomma }}</strong> <a href="/streets/">Streets</a></li>
			</ul>
		</div><!--/ #intro-explore-->
	</div><!--/ #intro -->


	<div id="public-records">
		{% if non_empty_date_charts %}
		<h2>Public Records</h2>
		<p>New in the last {{ num_days }} days</p>
		<ul>
			{% for chart in non_empty_date_charts %}
			<li>
				<strong>{{ chart.total_count|intcomma }}</strong> <a href="{{ chart.schema.url }}">{% filter capfirst %}{% schema_plural_name chart.schema chart.total_count %}{% endfilter %}</a>
			</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% if empty_date_charts %}
		<ul>More: {% for chart in empty_date_charts %}
            <li><a href="{{ chart.schema.url }}">{{ chart.schema.plural_name|capfirst }}</a>
            </li>{% endfor %}
        </ul>
		{% endif %}
	</div><!--/ #public-records -->
	<div id="more">
    {% if more_schemas %}
		<h2>More news</h2>
		<ul>
		{% for schema in more_schemas %}
			<li><a href="{{ schema.url }}">{{ schema.plural_name|capfirst }}</a></li>
		{% endfor %}
		</ul>
    {% endif %}
    </div><!--/ #more -->
  </div><!-- / #frontpage-text -->

  <div id="mapwrapper">
    <script type="text/javascript">
    var map_center = new OpenLayers.LonLat({{default_lon}}, {{default_lat}});
    var map_zoom = {{default_zoom}};
    </script>
    {% include "map.html" %}
  </div>

  <div id="homepage-about">
   <h2> About this site</h2>

   <p>This is a public demo
   of <a href="http://demo.openblockproject.org">OpenBlock</a>. It's
   still in the early stages, so expect to find bugs and see many
   under-designed pages.</p>

   <p>Feel free to kick the tires,
   and <a href="/accounts/register">register</a> if you feel like
   it. But be warned that we may reset the database at any time.</p>
   <p>We're <a href="http://blog.openblockproject.org">blogging about
   our progress</a>.
   </p>

   <p><a href="/disclaimer">Disclaimers</a>
   </p>

  </div>
</div><!--/ #content -->
{% endblock %}
