{% extends "base.html" %}{% comment %} -*- mode: django-html; tab-width: 4 -*- {% endcomment %}
{% load eb humanize mapping %}

{% block fulltitle %}OpenBlock{% endblock %}

{% block extrahead %}
<style>
      
  
  #detailmap {
    width: 100%;
    height: 500px;
  }


</style>
{% endblock %}

{% block content %}
		<div id="mapwrapper" class="fullpage">
		  <script type="text/javascript">
	    {% autoescape off %}
      function loadMap() {
          var config = {{map_config}};
          config['baselayer_type']  = "{{ MAP_BASELAYER_TYPE }}";

          var map = new OBMap(config);
          map.map.addControl(new OpenLayers.Control.LayerSwitcher());
          map.map.addControl(new OpenblockPermalink(map));
          return map;
      }
      {% endautoescape %}
		  </script>
		{% include "richmaps/richmap.html" %}
		</div><!-- end mapwrapper -->
{% endblock %}
