# Test failures in 1.2.4 or 1.2.5, see bug #119
django==1.2.3

# Not specifying GDAL version, since it depends on our platform. Rely
# on the user (or a more sophisticated script like obadmin/pavement.py)
# to install the right version.
GDAL

django-static==1.4.0
# 2.2 is minimum version that has extensions.ISOLATION_LEVEL_AUTOCOMMIT
psycopg2>=2.2,<2.3
pyyaml>=3
slimmer>=0.1.30
#mock>=0.7.2
hg+https://mock.googlecode.com/hg/#egg=mock
South>=0.7.3

