django>=1.2.3,<1.3a

# Not specifying GDAL version, since it depends on our platform. Rely
# on the user (or a more sophisticated script like obadmin/pavement.py)
# to install the right version.
#GDAL

pyyaml>=3
psycopg2>=2.2
