# Test failures in 1.2.4 or 1.2.5, see bug #119
django==1.2.3

# Not specifying GDAL version, since it depends on our platform. Rely
# on the user (or a more sophisticated script like obadmin/pavement.py)
# to install the right version.
GDAL

django-static==1.4.0
psycopg2>=2.0.13
pyyaml>=3
slimmer>=0.1.30
mock>=0.7.0
