{% extends "db/newsitem_detail.html" %}{% comment %}<!-- -*- mode: django-html; tab-width: 4 -*- -->{% endcomment %}

{% block extra_title %}{% if can_edit %}
    <a class="button" href="{% url edit_message newsitem.id %}">Edit</a>
    <a class="button" href="{% url delete_message newsitem.id %}">Delete</a>
{% endif %}{% endblock extra_title %}

{% block newsitem_detail_image_list %}
{% include "neighbornews/image_list_snippet.html" %}
{% endblock %}

{% block extracontent %}
{% if newsitem.newsitemcreator_set.all %}
  {% with creator=newsitem.newsitemcreator_set.all.0.user %}
    Created by
    <a href="{% url neighbornews_by_user userid=creator.id %}">{{ creator.first_name }}</a>
  {% endwith %}
{% endif %}

{%endblock%}
