{% extends "db/newsitem_detail.html" %}{% comment %}<!-- -*- mode: django-html; tab-width: 4 -*- -->{% endcomment %}


{% block extracontent %}

{% if newsitem.attributes.image_url %}
<img class="item-image" src="{{newsitem.attributes.image_url}}" />
{% endif %}

{% if newsitem.newsitemcreator_set.all %}
  {% with creator=newsitem.newsitemcreator_set.all.0.user %}
    Created by
    <a href="{% url neighbornews_by_user userid=creator.id %}">{{ creator.first_name }}</a>
  {% endwith %}
{% endif %}

{%endblock%}
