{% extends "obadmin/old_base.html" %}

{% load eb %}

{% block title %}Add source{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="../../../">Home</a>
&rsaquo;
<a href="../../">Old</a>
&rsaquo;
<a href="../">Sources</a>
&rsaquo;
Add
</div>
{% endblock %}


{% block content %}
<div id="content">

	<h1>Add source</h1>

	<form action="" method="POST">{% csrf_token %}
		<table>
			{{ form.as_table }}
			<tr class="submit-row"><th>&nbsp;</th><td><input class="button default" type="submit" value="Submit" /></td></tr>
		</table>
	</form>
</div><!--/content-->

{% endblock %}
