{% extends "obadmin/old_base.html" %}

{% load eb %}

{% block title %}Edit schema: {{ schema.plural_name|capfirst }}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="../../../">Home</a>
&rsaquo;
<a href="../../">Old</a>
&rsaquo;
<a href="../">Schemas</a>
&rsaquo;
Edit
</div>
{% endblock %}


{% block content %}
<div id="content">

	<h1>Edit schema: {{ schema.plural_name|capfirst }}</h1>

	<form action="" method="POST">{% csrf_token %}
		<table>
			{{ form.as_table }}
			<tr class="submit-row"><th>&nbsp;</th><td><input class="button default" type="submit" value="Submit" /></td></tr>
		</table>
	</form>
</div><!--/content-->

{% endblock %}
