{% extends "admin/change_form.html" %}
{% load i18n %}

{% block title %}Import NewsItems from Spreadsheet{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="../../../">Home</a>
&rsaquo;
<a href="../../">Db</a>
&rsaquo;
<a href="../">NewsItems</a>
&rsaquo;
Import NewsItems From Spreadsheet
</div>
{% endblock %}

{% block content %}
<div id="content">
    <h1>Import NewsItems From Spreadsheet</h1>

    <div id="content-main">

        <form action="" enctype="multipart/form-data" method="post">{% csrf_token %}
            {% for fieldset in fieldsets %}
              {% include "admin/includes/fieldset.html" %}
            {% endfor %}
            <div class="submit-row"><input class="button default" type="submit" value="Import" /></div>
        </form>
    </div>
</div>
{% endblock %}
