{% extends "admin/change_form.html" %}
{% load adminmedia %}
{% block title %}Pick Shapefile Layer to Import{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="../../../">Home</a>
&rsaquo;
<a href="../../">Db</a>
&rsaquo;
<a href="../">Locations</a>
&rsaquo;
Pick Shapefile Layer to Import
</div>
{% endblock %}

{% block content %}
<style type="text/css">
.fields ol {
    list-style-type: none;
}
</style>

<div id="content">
    <h1>Pick Shapefile Layer to Import Locations From</h1>

    <div id="content-main">
        <form action="" enctype="multipart/form-data" method="post">{% csrf_token %}

            {% include "admin/includes/fieldset.html" %}

            {% if not layers %}
            <li><div class="errors">No layers?</div></li>
            {% else %}
            <p>Select which layer you'd like to import.</p>

            <input name="shapefile" type="hidden" value="{{ shapefile }}" />
            <ol class="layers">
            {% for layer in layers %}
                <li>
                    {% if layer.num_feat and layer.0.num_fields %}
                    <input type="radio" name="layer" value="{{ forloop.counter0 }}">
                    {% endif %}

                    {{ layer.name }} ({{ layer.num_feat }} {{ layer.geom_type.name|lower }}{{layer.num_feat|pluralize}}):

                    {% if layer.num_feat %}
                        {% if layer.num_fields %}
                        <div class="fields">
                            <p>Use which field for Location name?</p>

                            <ol>
                                {% for field in layer.0 %}
                                <li>
                                    <input type="radio" name="name_field" value="{{ field.name }}">
                                    {{ field.name }} (<i>example:</i> {{ field.value }})
                                </li>
                                {% endfor %}
                            </ol>
                        </div>
                        {% else %}
                        <div class="errors">
                          Can't use this layer; its features have no fields,
                          so there's no way to assign names to imported locations.
                        </div>
                        {% endif %}
                    {% else %}
                       <div class="errors"> Can't use this layer; it has no features we can import.
                       </div>
                    {% endif %}
                </li>
            {% endfor %}
            </ol>
            {% endif %}
            <div class="submit-row"><input id="select-layer" class="button default" type="submit" value="Select" /></div>
        </form>
    </div>
</div>

<script type="text/javascript" src="{% admin_media_prefix %}js/jquery.min.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/jquery.init.js"></script>

<script>
    (function($) {
        var show_selected_layer_fields = function () {
            $('.fields').hide();
            $('input[name=layer]:checked ~ .fields').show();
            $('input#select-layer').removeAttr('disabled');
        };
        $('input[name=layer]').click(show_selected_layer_fields);
        $().ready(function () {
            show_selected_layer_fields();
            $('input#select-layer').attr('disabled', 'disabled');
        });
    })(django.jQuery);
</script>
{% endblock %}
