.selfclear:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.selfclear {
    display: inline-block;margin : 0 auto;
}

#main {
    clear: both;
    padding: 20px 0 0 0;

}

#header h1 {
	font-size: 36px;
	margin: 0;
	float : left;
	width : 500px;
	padding : 45px 0 0 0;
	height : 58px; /* 101px with padding */
	overflow : hidden;
	font-weight : normal;
	text-shadow: 0 1px 0 #ffffff;
}

#header h1 a {
    color : #343434;
    text-decoration: none;
}
#header h1 a:active, #header h1 a:hover {
    color: #333333;
}
#header h1 a:focus {
    color: red;
}
#header p {
    margin: 0;
}

#globalsearch label {
	display : none;
}

ul#nav-breadcrumb {
height : 34px;
}

ul#nav-breadcrumb,
#nav-breadcrumb li {
list-style-type : none;
display : inline-block;
padding 0;
margin : 0;
background-color : #f8f6f2;
}

#nav-breadcrumb li {
background : transparent url(./breadcrumb-separator.png) top right no-repeat;
padding : 5px 30px 7px 20px;
}

#nav-breadcrumb li a {
text-decoration : none;
color : #3d799e;
}

#nav-breadcrumb li a:hover {
color : #007FBF;
}

#nav-location {
width : 394px;
float : right;
}

#nav-location h2 {
margin-bottom : .5em;
}

#nav-location ul {
color : #878787;
list-style-type : none;
padding : 0;
margin : 0;
}

#nav-location ul li a {
text-decoration : none;
display : block;
padding : .5em .5em;
border-top : 1px solid #ccc;
}

#nav-location ul li a:hover {
background-color : #f8f6f2;
}

.subscribe-links {
margin-top : 1em;
}

.subscribe-links p {
border-radius : 8px;
-moz-border-radius : 8px;
padding : .1em .6em;
background : #e1dbd6;
font-size : 13px;
border : 1px solid #cccbc9;
}

.subscribe-links p a {
margin-left : 3em;
}

.subscribe-links p a {
color : #3D799E;
text-decoration : none;
}

.subscribe-links p a:hover {
color : #2C7CAE;
text-decoration : underline
}

#detailmap { 
width: 392px; 
height: 255px
}

#mapwrapper {
margin-bottom : .5em;
border : 1px solid #cac8c6;
}

#content {
width : 480px;
float : left;
}

#content h2 {
margin-top : 2em;
font-weight : normal;
border-bottom : 1px solid #666;
padding-bottom : .25em;
}

#content h4 {
margin : 0;
}

#content p {
font-size : .9em;
}

#contentheader h1 {
margin : .25em 0 .5em 0;
font-size : 1.5em;
}

ul.nav-view {
margin : 0;
padding : 0;
list-style-type : none;
display : inline-block;
}

ul.nav-view li {
float : left;
border : 1px solid #c8c7c5;
border-width : 1px 1px 1px 0; 
padding : 4px 8px 3px 8px;
font-size : 14px;
}

ul.nav-view li a,
ul.nav-view li a:visited {
text-decoration : none;
color : #aaaaaa;
}

ul.nav-view li a:hover {
color : #2c7cae;
}


ul.nav-view li:first-child {
background-color : #e1dbd6;
color : #2c7cae;
border-top-left-radius: 5px;
-moz-border-radius-topleft: 5px;
border-bottom-left-radius: 5px;
-moz-border-radius-bottomleft: 5px;
border-width : 1px;
}

ul.nav-view li:last-child {
border-top-right-radius: 5px;
-moz-border-radius-topright: 5px;
border-bottom-right-radius: 5px;
-moz-border-radius-bottomright: 5px;
}

ul.nav-view li.selected {
background-color : #e1dbd6;
}

form.select-filter {
float : right;
}

#place-detail-content .visible ul {
list-style-type : none;
padding : 0;
margin : 0;
}

#place-detail-content .visible ul li {
padding : 1em 0 0 0;
border-top : 1px solid #e2e2e2;
}

#place-detail-content h4 {
font-size : 1em;
color : #000;
text-transform : none;
font-weight : bold;
}

#place-detail-content .location {
display : block;
text-transform : uppercase;
font-size : .75em;
}

#place-detail-content .title {
display : block;
margin-bottom : .8em;
}

#place-detail-content .title a {
text-decoration : none;
font-weight : normal;
}
