{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools %}
{% if has_add_permission %}
  <ul class="object-tools">
    <li>
      <a href="add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">
        {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
      </a>
    </li>
    <li>
      <a href="import/csv" class="addlink">
        {% blocktrans %}Import from CSV file{% endblocktrans %}
      </a>
    </li>
    <li>
      <a href="export/csv">
        {% blocktrans %}Export as CSV file{% endblocktrans %}
      </a>
    </li>
    
  </ul>
{% endif %}

</ul>

{% endblock %}
