{% extends "base.html" %}{% comment %}<!-- -*- mode: django-html; tab-width: 4 -*- -->{% endcomment %}

{% load eb eb_filter humanize mapping django_static %}

{% block extrahead %}
{% slimall %}
<link rel="stylesheet" type="text/css" href="/styles/calendrical.css" />
<script src="/scripts/jquery.calendrical.js"></script>
{% endslimall %}
{% endblock extrahead %}

{% block title %}{% if not filters.filters_for_display %}Search {{ schema.plural_name }}{% else %}{{ schema.plural_name|capfirst }}{% endif %}{% for filter in filters.filters_for_display %} &rsaquo; {{ filter.value }} {% endfor %}{% endblock %}

{% block content %}
	<div id="content">

		<h1>Search {{ schema.plural_name }}</h1>
		{% include "db/snippets/filter_left_nav.html" %}

		<div id="maintext">

		{% if lookup_descriptions %}
			<dl>
				{% for lookup in lookup_descriptions %}
				<dt>{{ lookup.name }}</dt>
				<dd>{{ lookup.description|safe }}</dd>
				{% endfor %}
			</dl>
		{% endif %}

		{% if filters.location %}
			<h3>{{ filters.location.location_name }}</h3>
		{% endif %}

		{% if newsitem_list %}

			<p>{% map_icon_img schema %} <strong>{{ schema.plural_name|capfirst }} {{ page_start_index|intcomma }}-{{ page_end_index|intcomma }}</strong> (Page {{ page_number|intcomma }})</p>
			<ul>
				{% newsitem_list_by_schema newsitem_list ungrouped %}
			</ul>
			{% if has_next or has_previous %}
			<ul>
				{% if has_previous %}<li><a href="?page={{ previous_page_number }}" rel="nofollow">Previous</a></li>{% endif %}
				{% if has_next %}<li><a href="?page={{ next_page_number }}" rel="nofollow">Next</a></li>{% endif %}
			</ul>
			{% endif %}
		{% else %}
			<h2>No {{ schema.plural_name }} were found for the given search criteria.</h2>
            {% if filters.filters_for_display %}
			<p>You might want to try&hellip;</p>
			<ul>
				{% for filter in filters.filters_for_display %}
				<li><a href="{% filter_url filters -filter.slug %}" rel="nofollow">Removing the “{{ filter.label }}” filter</a></li>
				{% endfor %}
			</ul>
            {% endif %}

		{% endif %}
		</div> <!-- maintext -->

		<div id="mapwrapper">
		  <script type="text/javascript">
		  {% autoescape off %}
		  function loadMap() {
		  var config = {{map_configuration}};
		  {% if bbox %}
		  config.bounds = [{{bbox.0}},{{bbox.1}},{{bbox.2}},{{bbox.3}}];
		  {% else %}
		  config.center = [{{default_lon}}, {{default_lat}}];
		  config.zoom = {{default_zoom}};
		  {% endif %}
		  return new OBMap(config);
		  }
		  {% endautoescape %}
		  </script>
		  {% include "richmaps/richmap.html" %}

		</div><!--/ #mapwrapper -->
		{% if large_map_url %}
		<a class="large-map-link" href="{{ large_map_url }}">Explore these items on a larger map</a>
		{% endif %}


		<!--
		<div class="subscribe-links"><p>what would subscription links on this page point to?</p>
		</div> -->
		<!-- /# subscribe-links -->

	</div><!--/ #content -->

{% endblock %}
