{% extends "base.html" %}

{% load eb eb_filter %}

{% block title %}Select {{ param_label }}{% endblock %}

{% block extrahead %}
{{ block.super }}

<script type="text/javascript">
{% autoescape off %}
$j(document).ready(function() {
    $j(".chzn-select").chosen({no_results_text: "No results matched"});
}
)
{% endautoescape %}
</script>
{% endblock %}

{% block content %}
<div id="content">
	<h2>
		<a href="{% filter_url schema %}">{{ schema.plural_name|capfirst }}</a>
	</h2>
	<h2>Select {{ param_label }} </h2>
	<form action="{% filter_url schema %}" method="GET">
	{% filter_form_inputs filters -filter_key %}
	<select class="chzn-select" name="{{ param_name }}"
		{% if select_multiple %}multiple{% endif %}
		data-placeholder="Select {{ param_label }}&hellip;"
		style="width: 500px;"
 		>
	  	<option value=""></option>
		{% for option in option_list %}
		<option value="{{ option.value }}">{{ option.name }}</option>
		{% endfor %}
	</select>
	<br><button type="submit">Go</button>
	</form>
</div>
{% endblock %}
