{% extends "base.html" %}

{% load eb eb_filter %}

{% block title %}Select {{ lookup_type }}{% endblock %}

{% block extrahead %}
{{ block.super }}

<script type="text/javascript">
{% autoescape off %}
$j(document).ready(function() {
    $j(".chzn-select").chosen({no_results_text: "No results matched"});
}
)

{% endautoescape %}
</script>
{% endblock %}

{% block content %}
<div id="content">
	<h2>
		<a href="{% filter_url schema %}">{{ schema.plural_name|capfirst }}</a>
	</h2>
	<h2>Select {{ lookup_type }} </h2>
	<form action="{% filter_url schema %}" method="GET">
	{% filter_form_inputs filters -lookup_type_slug %}
	<select multiple class="chzn-select" name="by-{{ lookup_type_slug }}"
		data-placeholder="Select {{ lookup_type }}&hellip;"
		style="width: 500px;"
		>
	  	<option value=""></option>
		{% for lookup in lookup_list %}
		<option value="{{ lookup.slug }}">{{ lookup.name }}</option>
		{% endfor %}
	</select>
	<br><button type="submit">Go</button>
	</form>
</div>
{% endblock %}
