{% extends "base.html" %}

{% load eb eb_filter %}

{% block title %}Select {{ lookup_type }}{% endblock %}

{% block content %}
<div id="content">
	<h2>
		<a href="{% filter_url filters -all %}">{{ schema.plural_name|capfirst }}</a>
		{% comment %} we already have breadcrumbs in the base template
 {% for crumb in filters.make_breadcrumbs %} {% if forloop.last %}{{ crumb.0|capfirst }}{% else %}<a href="{{ crumb.1 }}">{{ crumb.0|capfirst }}</a> &rsaquo; {% endif %}{% endfor %} 
		{% endcomment %}
	</h2>
	<h2>Select {{ lookup_type }}</h2>
	{% if lookup_list|length|greaterthan:"100" %}
		{% regroup lookup_list by name|upper|slice:":1" as alpha_list %}
		{% for current_letter in alpha_list %}
			<h2>{{ current_letter.grouper }}</h2>
				<p id="alpha_{{ current_letter.grouper|lower }}">
					{% for letter in alpha_list %}
						{% ifequal letter.grouper current_letter.grouper %}
							<strong>{{ letter.grouper }}</strong> 
						{% else %}
							<a href="#alpha_{{ letter.grouper|lower }}">{{ letter.grouper|upper }}</a> 
						{% endifequal %}
					{% endfor %}
					<a href="#content">&uarr; Top</a>
				</p>
				<ul>
					{% for lookup in current_letter.list %}
						<li><a href="{% filter_url filters +lookup_type_slug lookup %}">{{ lookup.name }}</a></li>

					{% endfor %}
				</ul>
		{% endfor %}
	{% else %}
		<ul>
			{% for lookup in lookup_list %}
				<li><a href="{% filter_url filters +lookup_type_slug lookup %}">{{ lookup.name }}</a></li>
			{% endfor %}
		</ul>
	{% endif %}
</div>
{% endblock %}
