{% extends "base.html" %}

{% load eb humanize mapping eb_filter comments %}

{% block title %}{{ newsitem.title }} | {{ newsitem.schema.plural_name|capfirst }}{% endblock %}

{% block content %}

<div id="content">
	<p>
		<a href="{{ newsitem.schema.url }}">{% if newsitem.schema.is_special_report %}Special report: {% endif %}{{ newsitem.schema.plural_name|capfirst }}</a>
	</p>
	<h1>{{ newsitem.title }}</h1>
	{% block newsitem_detail_summary %}{% endblock %}

	{% if not newsitem.schema.is_special_report %}<h2>{{ newsitem.schema.name|capfirst }} details</h2>{% endif %}

	<div id="mapwrapper">
	  <script type="text/javascript">
	  {% autoescape off %}
	  
	  function loadMap() {
		  var config = {{map_configuration}};
      config.center = [{{map_center_x}}, {{map_center_y}}];
      config.zoom = 16;
      return new OBMap(config);        
		}
		
		{% endautoescape %}
	  </script>
	  {% include "richmaps/richmap.html" %}
	</div>

	<table>
		<tr>
			<th>Location</th>
			<td>
				{% if location_url %}<a href="{{ location_url }}">{% endif %}
                                {{newsitem.location_name|default:"unknown"}}
                                {% if location_url %}</a>{% endif %}
				{% if not newsitem.location %}<p>This location couldn't be mapped.</p>{% endif %}
			</td>
		</tr>
		{% block newsitem_detail_date %}
			<tr>
				<th>{{ newsitem.schema.date_name|capfirst }}</th>
				<td><a href="{{ newsitem.item_date_url }}">{{ newsitem.item_date|date:"F j, Y" }}</a></td>
			</tr>
		{% endblock %}
		{% block newsitem_detail_description %}
			<tr>
				<th>Description</th>
				<td>{{ newsitem.description|truncatewords_html:20}}
				  {% if newsitem.url %}
				    <br /><a href="{{newsitem.url}}">Read more at {{newsitem.url}}</a>
				  {% endif %}
				</td>
			</tr>
		{% endblock %}
		{% block newsitem_detail_attribute_list %}
			{% for attribute in attribute_list %}
				<tr>
					<th>
						{{ attribute.sf.smart_pretty_name|capfirst }}
					</th>
					<td>
						{% if attribute.value_list %}
						{% for value in attribute.value_list %}
							{% if value.url %}
								<a href="{{ value.url }}">{{ value.value }}</a>
							{% else %}
								{{ value.value }}
							{% endif %}
							{% if value.description %}<p>{{ value.description|safe }}</p>{% endif %}
							{% if not forloop.last %}{% if not value.description %}<br>{% endif %}{% endif %}
						{% endfor %}
						{% else %}
						None
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		{% endblock %}
	</table>

  {% block extracontent %}
  {% endblock %}

	<p>Retrieved on <strong>{{ newsitem.pub_date|date:"F j, Y" }}</strong>.</p>

	{% block item_comments %}
	  {% if newsitem.schema.allow_comments %}
	  {% get_comment_count for newsitem as comment_count %} 
	  <h2>{{comment_count}} Comments</h2>
	  
	  <div class="comment-list">
    {% get_comment_list for newsitem as comment_list %}
    {% for comment in comment_list %}
        <div id="c{{comment.id}}" class="comment">
          <div class="comment-text">{{ comment.comment }}</div>
          <span class="comment-author">by {{ comment.name }}</span>
          <span class="comment-date">{{comment.submit_date}}</span>
          {% comment %}<a class="comment-flag-link" href="{% url comments-flag comment.id %}">flag this comment</a>{%endcomment%}
        </div>
    {% endfor %}
    </div>


    {% if request.user.is_authenticated %}
	  <h2> Add a Comment </h2>
	  {% get_comment_form for newsitem as form %}

      <form id="comment-form" action="{% comment_form_target %}" method="post">
        {% csrf_token %}
        {{form.content_type}}
        {{form.object_pk}}
        {{form.timestamp}}
        {{form.security_hash}}

        <label for="id_comment">{{form.comment.label_tag}}</label>
        <div>
          {{form.comment}}
        </div>

        <div class="hidden">
          If this field is filled in, the comment will be rejected as spam.</td>
          {{form.honeypot}}
        </div>
        
        <div>
              <input type="submit" name="submit" value="Post">
        </div>
    </form>
    {% endif %}
	  {% endif %}
	{% endblock %}


	{% block similaritems %}
		{% if not newsitem.schema.is_special_report %}
			{% if locations_within %}
				<h2>Other {{ newsitem.schema.plural_name }} nearby</h2>
				<ul>
					{% for location in locations_within %}
					<li><a href="{% filter_url newsitem.schema +'location' location %}">{{ location.name }}</a></li>
					{% endfor %}
					<li><a href="{{ newsitem.schema.url }}">More {{ newsitem.schema.plural_name }} in {% METRO_NAME %}</a></li>
				</ul>
			{% endif %}
		{% endif %}
	{% endblock %}


	<h2>About {{ schema.plural_name }}...</h2>
	<ul class="inlinelist">
	  {% if newsitem.schema.summary.strip %}
	  <li>Summary: {{ newsitem.schema.summary|safe|linebreaks }}</li>
	  {% endif %}
	  {% if newsitem.schema.source.strip %}
	  {% with newsitem.schema.source.splitlines as sources %}
		<li>Source{{sources|pluralize}}:
		{% for source in sources %}
		   {% if source.strip %}
		   <a href="{{ source.strip|safe }}">{{source}}
		   </a>
		   {% endif %}
		{% endfor %}
	  {% endwith %}
	{% endif %}
	</ul>

</div><!--/ #content-->
{% endblock %}
