{% extends "base.html" %}

{% load eb %}

{% block title %}About {{ schema.plural_name }}{% endblock %}

{% block content %}
<div id="content">
	<h1>About {{ schema.plural_name }}</h1>
	<h2>Summary</h2>
	{{ schema.summary|safe|linebreaks }}

	{% if schema.source.strip %}
	  {% with schema.source.splitlines as sources %}
		<h2>Source{{sources|pluralize}}</h2>
		{% for source in sources %}
		   {% if source.strip %}
		   <p><a href="{{ source.strip|safe }}">
		   </a></p>
		   {% endif %}
		{% endfor %}
	  {% endwith %} 
	{% endif %}

	{% if schema.grab_bag_headline and schema.grab_bag %}
		<h2>{{ schema.grab_bag_headline|safe }} eee</h2>
		{{ schema.grab_bag|safe|linebreaks }}
	{% endif %}

</div><!--/content-->
{% endblock %}
