{% extends "base.html" %}

{% load eb %}

{% block title %}Search: {{ query }}{% endblock %}

{% block content %}
<div id="content">
	<h1>Address search</h1>
	<form action="{% url ebpub-search %}" method="get">
		<input type="text" name="q" value="{{ query }}"> <input type="submit" value="Search again">
	</form>

	{% for choice in choices %}
	<h2>Choose a block of {{ choice.name }}&hellip;</h2>
	<ul>
		{% for block in choice.blocks %}
		<li><a href="{{ block.url }}">{{ block.from_num }}-{{ block.to_num }} {{ block.predir }}</a></li>
		{% endfor %}
	</ul>
	{% endfor %}

</div><!--/ #content-->
{% endblock %}
