{% extends "admin/change_list.html" %}

{% block object-tools-items %}
    {{ block.super }}
    <li>
      <a href="import-zip-shapefiles/" class="addlink">Add US Zip Codes</a>
    </li>
    <li>
      <a href="upload-shapefile/" class="addlink">Upload Shapefile</a>
    </li>
{% endblock %}

{% block content %}
    <div class="jobs-status"></div>
    <script>
        (function($) {
            var poll_jobs_status = function () {
                $('.jobs-status').html('...').load('jobs-status/');
            }
            $().ready(function () {
                poll_jobs_status();
                setInterval(function() {
                    poll_jobs_status();
                }, 20000);
            });
        })(django.jQuery);
    </script>

    <!-- map tag copied from django-olwidget's olwidget_change_list.html -->
    {% if not is_popup %}
        {{ map }}
    {% endif %}
    <!-- end map tag -->

    {{ block.super }}
{% endblock %}

