{% extends "base.html" %}

{% block title %}Log in{% endblock %}


{% block content %}
<div id="content">
	<h1>Log into your account</h1>
	{% if custom_message %}
	<p>{{ custom_message }}</p>
	{% endif %}
	{% block form_override %}
	<form action="{{ target|default:'' }}" method="POST">
	{% endblock form_override %}
		{% csrf_token %}
		{{ form.non_field_errors }}
		{% block next_override %}
		<input type="hidden" name="next" value="{{ next|default:'' }}" />
		{% endblock next_override %}

		<table>
			<tr>
				<th><label for="id_email">E-mail address:</label></th>
				<td>{{ form.email.errors }}{{ form.email }}</td>
			</tr>
			<tr>
				<th><label for="id_password">Password:</label></th>
				<td>{{ form.password.errors }}{{ form.password }} <span><a href="{% url accounts-pw-change %}">Forgot password</a></span></td>
			</tr>
			<tr>
				<th>&nbsp;</th>
				<td>
					<button type="submit">Log in</button>
				</td>
			</tr>
		</table>
	</form>
	<p><a href="{% url accounts-register %}">Create account</a></p>
</div><!--/ #content -->
{% endblock content %}
