{% extends "base.html" %}{% comment %} -*- mode: django-html; tab-width: 4 -*- {% endcomment %}

{% block extrahead %}

<script type="text/javascript" src="/scripts/jquery-ui-1.8.16.custom.min.js" charset="utf-8"></script>
<link rel="stylesheet" src="/styles/smoothness/jquery-ui-1.8.16.custom.css" />

<link rel="stylesheet" type="text/css" href="/styles/calendrical.css" />
<script src="/scripts/jquery.calendrical.js"></script>
<script src="/scripts/json2.js"></script>

<script type="text/javascript" src="/scripts/widgeteditor.js" charset="utf-8"></script>
<script type="text/javascript">
	$(document).ready(function() {
		var widgetSlug = "{{widget.slug}}";
		var rootURL = "{% url widget_admin_root %}";
		var we = new WidgetEditor('#widget_editor', widgetSlug, rootURL);
	});
</script>
<style>
button, li {
	font-size: 12px;
	line-height; 15px;
}

.available-container,
.current-container {
	width: 50%;
	display: inline;
	float: left;
	margin: 0px;
	padding: 0px;
}
.current-items, 
.available-items {
	padding: 0px;
	margin: 10px;
}


.empty-slot {
    color: #777;
}
.pinnable-newsitem .delete-button, .expiration-button {
	display: none;
}

.current-container .pinnable-newsitem .delete-button {
	display: inline;
}
.current-container .pinnable-newsitem .expiration-button {
	display: inline;
}


.pinnable-newsitem .item-id {
	display: none;
}

.pinnable-newsitem .expiration {
	display: none;
}



</style>
{% endblock %}

{% block content %}

<h1>Configure Pinned Items For {{widget.name}}</h1>

<p>Max items in this widget: {{ widget.max_items }}.
<a href="{% url admin:widgets_widget_change widget.id %}">Edit Widget</a>
</p>

<div id="widget_editor">
 <p>Drag items from the left list into the right list to pin them.
 Drag pinned items up and down to re-order.</p>
 <div class="available-container">
   <h2>Latest Items</h2>
   <!-- loaded via javascript. -->
   <ul class="available-items"></ul>
   <button class="load-items">Load More</button>
 </div>

 <div class="current-container">
  <h2>Pinned Items </h2>
   <ol class="current-items">
    {% for n in max_items_range %}
     <li class="empty-slot">Empty Slot</li>
    {% endfor %}
   </ol>
  <button class="save-button">Save</button>
 </div>
</div>

<hr>
<h1>Preview
 <a href="#widget_preview"
    onclick="document.getElementById('widget_preview').contentDocument.location.reload(true);">reload</a>
</h1>

<iframe style="border: solid 1px" id="widget_preview" src="{% url widget_content widget.slug %}"
        width="100%" height="400" scrolling="auto">
</iframe>

{% endblock %}
