{# This snippet requires these variables: schema, newsitem_list #}
{% load eb %}

{% for newsitem in newsitem_list %}
	<li id="newsitem-{{ newsitem.id }}" class="newsitem">
	<span class="newsitem hidden">
	  <form><input type="checkbox" class="select-newsitem" id="newsitem-{{newsitem.id}}"></form>
	</span>
	{% with location_url=newsitem.location_url %}
		{% if location_url %}<a href="{{ location_url }}">{% endif %}<span class="location">{{ newsitem.location_name }}</span>{% if location_url %}</a>{% endif %}
	<!-- block newsitem_list_content -->
	{% block newsitem_list_content %}
		<strong class="title"><a href="{{ newsitem.item_url}}" class="url">{{ newsitem.title|truncatewords_html:20 }}</a></strong>
		<p class="info"><span class="date">{{ newsitem.item_date|date:"F j, Y" }}</span> {% if newsitem.description %}{{ newsitem.description|truncatewords_html:20}}{% endif %}</p>
	{% endblock newsitem_list_content %}
	<!-- endblock newsitem_list_content -->
	{% endwith %}
	</li>
{% endfor %}
