    // Show or hide news items by type.
	$j('.toggle').click(function() {
		var url, action, on_success, on_error;
		var container = $j(this).parents('h4');
		var link = container.find('.toggle');
		var schema_slug = /(.*?)-\d+/.exec(container.attr('id'))[1];
		var all_links = $j('.schema_' + schema_slug + ' .toggle');
		if ($j('div.schema_' + schema_slug).hasClass('hidden')) {
			action = 'show';
		} else {
			action = 'hide';
		}
		if (action == 'hide') {
			url = '/accounts/hidden-schemas/add/';
			all_links.html('Hiding...');
			on_success = function(data, textStatus) {
                all_links.html('Show');
				$j('div.schema_' + schema_slug).addClass('hidden').removeClass('visible');
			};
			on_error = function(jqXHR, textStatus, errorThrown) {
                all_links.html('Hide');
			};
		} else {
			url = '/accounts/hidden-schemas/delete/';
			all_links.html('Showing...')
			on_success = function(data, textStatus) {
				all_links.html('Hide')
				$j('h4.schema_' + schema_slug).removeClass('hidden').addClass('visible');
				$j('div.schema_' + schema_slug).removeClass('hidden').addClass('visible');
			};
			on_error = function(jqXHR, textStatus, errorThrown) {
				all_links.html('Show');
			};
		}
		$j.ajax({
			type: "POST", url: url, data: {schema:schema_slug},
			error: setTimeout(function(jqXHR, textStatus, errorThrown) {
				alert("Whoops, we had a technical hiccup. Please try again in a bit.");
				on_error(jqXHR, textStatus, errorThrown);
			},5000),
			//See note above
			success: on_success
		});
		return false;
	});
