    // Show or hide news items by type.
	$j('.toggle').show().click(function(event) {
		event.preventDefault();
		var url, action, on_success, on_error;
		var container = $j(this).parents('h4');
		var link = container.find('.toggle');
		var schema_slug = /(.*?)-\d+/.exec(container.attr('id'))[1];
		var all_links = $j('.schema_' + schema_slug + ' .toggle');
		if ($j('div.schema_' + schema_slug).hasClass('hidden')) {
			action = 'show';
		} else {
			action = 'hide';
		}
		if (action == 'hide') {
			url = '{% url preferences-save-hidden-schema %}';
			all_links.html('Hiding...');
			on_success = function(data, textStatus) {
				all_links.html('Show');
				$j('div.schema_' + schema_slug).addClass('hidden').removeClass('visible');
			};
			on_error = function(jqXHR, textStatus, errorThrown) {
				all_links.html('Hide');
				$j('div.schema_' + schema_slug).addClass('visible').removeClass('hidden');
				alert("Whoops, we had a technical hiccup while hiding items. Please try again in a bit.");
			};
		} else {
			url = '{% url preferences-remove-hidden-schema %}';
			all_links.html('Showing...');
			on_success = function(data, textStatus) {
				all_links.html('Hide');
				$j('h4.schema_' + schema_slug).removeClass('hidden').addClass('visible');
				$j('div.schema_' + schema_slug).removeClass('hidden').addClass('visible');
			};
			on_error = function(jqXHR, textStatus, errorThrown) {
				all_links.html('Show');
				$j('div.schema_' + schema_slug).hide();
				alert("Whoops, we had a technical hiccup while showing items. Please try again in a bit.");
			};
		};
		var errorWithDelay = function(jqXHR, textStatus, errorThrown) {
			setTimeout("", 3000);
			on_error(jqXHR, textStatus, errorThrown);
		};
		$j.ajax({
			type: "POST", url: url, data: {schema:schema_slug},
			error: errorWithDelay,
			success: on_success
		});
		return false;
	});
